ul {
     list-style-type: none;
     margin: 20px;
     padding: 0;
     overflow: hidden;
     background-color: #444;
   }
   
   li {
     float: left;
   }
   #right {
     float: right;
     margin-right: 100px;
   }
   
   li a {
     display: block;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
   }
   
   li a:hover {
     background-color: #111;
   }
   #shiki-pro-a {
     color: rgb(255, 196, 0);
   }