.chatbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
#answer-txt {
  width:400px ;
  font-size: 30px;
  display: none;
  margin: 40px;
  padding: 20px;
  background-color: #444;
  border-radius: 15px;
  
}
